button.qrmanager-buttons {
	width: 60%;
	height: 15%;
	margin-bottom: 3em;
}
button.qrmanager-btnEdit{
	margin-left: 35%;
}

table.qrmanager-table{
	border-color: #000;
}
.qrmanager-table tbody{
	border-color: #000;
}
.table-bordered td {
	border-color: #000;
}
div.qrManagerQrCode{
	height:20em;
	width:20em;
	border: 2px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left: -15%;
}

.qrManagerInlineForm {
	margin: 0;
}